<footer>
  <p>
    Héber Stavrakas Gaipo -
    <script>
      let currentDate = new Date();
      let currentYear = currentDate.getFullYear();
      document.write(currentYear);
    </script>
  </p>
</footer>
