<footer>
    <p>Héber Stavrakas Gaipo -
        <script>let dataAtual = new Date();
            let anoAtual = dataAtual.getFullYear();
            document.write(anoAtual)</script>
    </p>
</footer>