<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/style/about.css" type="text/css">
</head>
<body>
    <%- include('../../partials/header'); %>
    <main>
        <h1>Comunicado</h1>
        <p>
            Olá, aqui é Héber Stavrakas Gaipo, responsável por esse projeto. Venho por meio deste comunicar que esse site ainda está sendo elaborado, sobretudo as páginas "Sobre mim" e "Certificados"
        </p>
    </main>
    <%- include('../../partials/aside'); %>
    <%- include('../../partials/footer'); %>
</body>
</html>