.theme-default {
    --underline-color: white;
}

.theme-light {
    --underline-color: black;
}

body main {
    line-height: 1.6;
}

main {
    display: block;
}

main h2 {
    text-align: justify;
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.subtitle {
    border-bottom: .2rem solid var(--underline-color);
}

main p {
    text-align: justify;
    text-indent: 2em;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}