.theme-default {
    --underline-color: white;
}

.theme-light {
    --underline-color: black;
}

body main {
    line-height: 1.6;
}

main {
    display: block;
}

main h2 {
    text-align: justify;
    font-size: 24px;
    margin-bottom: 10px;
}

.subtitle {
    border-bottom: 2px solid var(--underline-color);
}

main p {
    text-align: justify;
    text-indent: 2em;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}