.theme-default {
  --certificate-bg-color: #202024;
  --card-color: #14182d;
  --left-box-color: #121214;
  --letters: white;
  --path-letters: #e1e1e6;
  --zoomIn-bg-color: rgba(0, 0, 0, 0.6);
}

.theme-light {
  --certificate-bg-color: #e6e8fa;
  --card-color: #f5f5fa;
  --left-box-color: white;
  --letters: black;
  --path-letters: #000;
  --zoomIn-bg-color: rgba(255, 255, 255, 0.6);
}

main {
  display: block;
}

main hr {
  border-color: var(--body-bg-color);
}

#rocketseat-section {
  background-color: var(--body-bg-color);
}

#rocketseat-section-logo {
  margin-bottom: 0.8rem;
  transition: all .2s;
  transition-timing-function: linear;
}

#rocketseat-section:hover #rocketseat-section-logo {
  padding-left: 1rem;
  border-left: .8rem solid #8257E6;
}

#rocketseat-certificates {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

main p {
  font-size: 1rem;
}

.certificates {
  display: inline-block;
  padding: 0;
  justify-content: center;
  cursor: pointer;
}

.certificates>div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 211.984px;
}

.certificate:hover {
  box-shadow: 0px 1rem 1rem rgb(0, 0, 0, 0.25);
  transition: box-shadow 0.1s;
}

svg.certificate {
  min-width: 263.125px;
  min-height: 185.9375px;
}

img.certificate {
  width: 300px;
  height: auto;
}

.ampliada {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: var(--zoomIn-bg-color);
}

div.ampliada>img {
  height: 100vh;
  width: auto;
}

.ampliada svg {
  align-self: center;
}

/* Botão para fechar a imagem ampliada */
.fechar-botao {
  position: fixed;
  top: 10px;
  right: 10px;
  color: var(--letters);
  background-color: #00000000;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

main section div {
  background-color: none;
}

@media (max-width: 700px) {
  #rocketseat-certificates {
    justify-content: center;
  }
}