<header>
  <div class="wrapper site-header__wrapper">
    <a href="/" id="logo">
      <div>
        <p>&lt; <strong id="logo-bar">&#124;</strong> &gt;</p>
      </div>
    </a>
    <nav>
      <ul>
        <li id="home"><a href="/">Página inicial</a></li>
        <li id="about"><a href="/about">Sobre mim</a></li>
        <li id="certificates"><a href="/certificate">Certificados</a></li>
      </ul>
    </nav>
    <div id="theme-switcher">
      <label id="switch" class="switch" title="Alterar para tema claro">
        <input type="checkbox" onchange="toggleTheme()" id="slider" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</header>
